<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <remove name="PHP71_via_FastCGI" />
                <add name="PHP71_via_FastCGI" path="*.php" verb="GET,PUT,POST,DELETE,HEAD,OPTIONS,TRACE,PROPFIND,PROPPATCH,MKCOL,COPY,MOVE,LOCK,UNLOCK" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v7.1\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            </handlers>
            <rewrite>
                <rules>
                    <rule name="Redirect to HTTPS" stopProcessing="true">
                        <match url="(.*)" />
                        <conditions>
                            <add input="{HTTPS}" pattern="^OFF$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                    </rule>
                    <rule name="LetsEncrypt" stopProcessing="true">
                        <match url="\.well-known\/acme-challenge\/(.*)" />
                        <action type="None" />
                    </rule>
                    <rule name="Index">
                        <match url="^(.*)$" />
                        <conditions>
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="index.php/{R:1}" />
                    </rule>
                </rules>
            </rewrite>
            <staticContent>
                <mimeMap fileExtension=".json" mimeType="application/json" />
                <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
                <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
                <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
            </staticContent>
            <httpCompression>
                <dynamicTypes>
                    <add enabled="true" mimeType="application/json"/>
                    <add enabled="true" mimeType="application/javascript"/>
                    <add enabled="true" mimeType="text/css"/>
                </dynamicTypes>
                <staticTypes>
                    <add enabled="true" mimeType="application/json"/>
                    <add enabled="true" mimeType="application/javascript"/>
                    <add enabled="true" mimeType="text/css"/>
                </staticTypes>
            </httpCompression>
        </system.webServer>
    </location>
    <system.web>
        <authorization>
        <allow users="*"/>
        </authorization>
    </system.web>
</configuration>